@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}

/* bg-[#7CB342] */
.header {
  @apply flex bg-[#00008B] h-16 border-b-4 border-b-red-700
}


ul {

  @apply flex justify-start gap-6 pt-4 ml-8
}

.header {
  font-family: "Oswald", sans-serif;
}

/* MapComponent.css */
.leaflet-container {
  height: 400px;
  /* width: 100%; */
  border-radius: 10px;
}




@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-scrollText {
  animation: scrollText 10s linear infinite;
}




/* styles.css */
.scroll-up {
  transition: transform 0.5s ease-in-out;
  transform: translateY(50px);
  opacity: 0;
}

.translate-up {
  transform: translateY(0);
  opacity: 1;
}


.font-poppins{

  font-family: 'Poppins', sans-serif;
    font-weight: 800;
}
.red{
  font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.title-1{
  font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.title-2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.title-3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

.title-4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.title-5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.title-6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.title-7 {
  font-family: 'Poppins';
  font-weight: 900;
}

.bana{
  font-family: 'Poppins';
  font-weight: 800;
}
.footer{
  font-family: 'Poppins';
}
/* .links{
  text-decoration: underline wavy #ffdd57;
} */


.link {
  color: white;
  /* padding: 14px 20px; */
  text-decoration: none;
  transition: color 0.3s ease;
}


.link:hover {
  color: #ffdd57;
  /* Change the color on hover */
  text-decoration: underline wavy #ffdd57;
}

.link:active {
  color: #ffdd57;
  /* Active item color */
  text-decoration: underline wavy #ffdd57;
}


.arrow::before {
  content: '\2192';
  /* Unicode for right arrow */
  position: absolute;
  left: -5rem;
  /* Adjust this value based on your needs */
  top: 153%;
  transform: translateY(-10%);
  font-size: 1.2em;
  /* Adjust the size of the arrow */
}


.underline-effect {
  position: relative;
  display: inline-block;
}

.underline-effect::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: width 0.3s ease-in-out;
}

.underline-effect:hover::after {
  width: 100%;
}

.appoint{
  font-family: 'Poppins';
 font-weight: 600;
}

.appoint-1{
  font-family: 'Poppins';
    font-weight: 400;
}
.text{
  font-family: 'Poppins';
}